TELEGRAM_BOT_TOKEN=
CHAT_ID=
DEBUG_MODE=0
LOG=1
WEBSITES_TO_CHECK="https://example.com,https://google.com"
max_attempts=3
retry_interval=60
retry_delay=60
keep_warning_about_retries=FALSE
status_report_interval=3600
send_status_report=TRUE
maximum_retries=10
send_mail=1
EMAIL_HOST=smtp.gmail.com=smtp.hostmail.com
EMAIL_PORT=587
EMAIL_HOST_USER=botaddress@email.com
EMAIL_HOST_PASSWORD=EMAIL_APP_PASSWORD
EMAIL_RECIPIENTS=recipient1@email.com,recipient2@email.com
SUPPORT_EMAILS=CompanyITSupport@email.com,CompanyITSupport2@email.com